@import './base.css';
@import 'bootstrap';

body {
  background-color: #f2f2f2;
}

.text-orange {
  color: #ed7022;
}

.bg-orange {
  background-color: #ed7022;
}

.bg-turquoise {
  background-color: rgb(53, 191, 177);
}

.text-turquoise {
  color: rgb(53, 191, 177);
}

.elevation {
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}